@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #ffffff;
}

body {
  line-height: 1;
  font-family: 'Rubik', sans-serif;
  color: #000000;
}

.paginator {
  margin-top: 20px;
}

.paginator li {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  color: #64748b;
}

.paginator li.active {
  font-weight: 600;
  color: #06b6d4;
}

.paginator li.arrow-prev {
  transform: rotate(-90deg);
}
.paginator li.arrow-next {
  transform: rotate(90deg);
}
